In [1]:
#genome sequence and search for patterns

In [2]:
import pandas as pd
import numpy as np

pn = pd.read_csv('SARS_CORONAVIRUS_NC_045512_sequence.fasta', header = None)[1:][0]
pn = pd.DataFrame(pn)
pn.columns = ['Genome Sequence']

In [ ]:
import pandas as pd
import numpy as np

pn = pd.read_csv('SARS_CORONAVIRUS_NC_045512_sequence.fasta', header = None)[1:][0]
pn = pd.DataFrame(pn)
pn.columns = ['Genome Sequence']
# length and median lenght 
pn['Length'] = pn['Genome Sequence'].apply(lambda x: len(x))
mid_length = np.median(pn['Length'])
pn = pn[pn.Length == mid_length]

pn['Match?'] = pn['Genome Sequence'].apply(lambda x: x.find('TAATTTAGGCATGCCTT'))
pn['Match?'] = pn['Match?'].apply(lambda x: 0 if x == -1 else 1)

#find number of different letters 
def diff_letters(a,b):
    return sum ( a[i] != b[i] for i in range(len(a)) )

differences = []
for name, row in pn.iterrows():
    temp_diff = []
    for j in range(len(pn)):
        temp_diff.append(diff_letters(row[0], pn.iloc[j]['Genome Sequence']))
    differences.append(temp_diff) 

min_val = 1000
similar = 0
for i in range(len(differences)):
    for j in range(len(differences[0])):
        if differences[i][j] < min_val and differences[i][j] != 0:
            min_val = differences[i][j]
            similar = (i,j)

In [3]:
pn

                                       Genome Sequence
1    ATTAAAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGA...
2    CGAACTTTAAAATCTGTGTGGCTGTCACTCGGCTGCATGCTTAGTG...
3    TAATTACTGTCGTTGACAGGACACGAGTAACTCGTCTATCTTCTGC...
4    TTGCAGCCGATCATCAGCACATCTAGGTTTCGTCCGGGTGTGACCG...
5    CCTGGTTTCAACGAGAAAACACACGTCCAACTCAGTTTGCCTGTTT...
..                                                 ...
424  GTGCAGAATGAATTCTCGTAACTACATAGCACAAGTAGATGTAGTT...
425  TTAATCAGTGTGTAACATTAGGGAGGACTTGAAAGAGCCACCACAT...
426  GATCGAGTGTACAGTGAACAATGCTAGGGAGAGCTGCCTATATGGA...
427  TTTAGTAGTGCTATCCCCATGTGATTTTAATAGCTTCTTAGGAGAA...
428                                      AAAAAAAAAAAAA

[428 rows x 1 columns]

In [5]:
# length and median lenght 
pn['Length'] = pn['Genome Sequence'].apply(lambda x: len(x))
mid_length = np.median(pn['Length'])
pn = pn[pn.Length == mid_length]
pn

/tmp/ipykernel_5111/2692796844.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pn['Length'] = pn['Genome Sequence'].apply(lambda x: len(x))

                                       Genome Sequence  Length
1    ATTAAAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGA...      70
2    CGAACTTTAAAATCTGTGTGGCTGTCACTCGGCTGCATGCTTAGTG...      70
3    TAATTACTGTCGTTGACAGGACACGAGTAACTCGTCTATCTTCTGC...      70
4    TTGCAGCCGATCATCAGCACATCTAGGTTTCGTCCGGGTGTGACCG...      70
5    CCTGGTTTCAACGAGAAAACACACGTCCAACTCAGTTTGCCTGTTT...      70
..                                                 ...     ...
423  CAGACCACACAAGGCAGATGGGCTATATAAACGTTTTCGCTTTTCC...      70
424  GTGCAGAATGAATTCTCGTAACTACATAGCACAAGTAGATGTAGTT...      70
425  TTAATCAGTGTGTAACATTAGGGAGGACTTGAAAGAGCCACCACAT...      70
426  GATCGAGTGTACAGTGAACAATGCTAGGGAGAGCTGCCTATATGGA...      70
427  TTTAGTAGTGCTATCCCCATGTGATTTTAATAGCTTCTTAGGAGAA...      70

[427 rows x 2 columns]

In [7]:
#find matches to sequence 
pn['Match?'] = pn['Genome Sequence'].apply(lambda x: x.find('TAATTTAGGCATGCCTT'))
pn['Match?'] = pn['Match?'].apply(lambda x: 0 if x == -1 else 1)

pn

                                       Genome Sequence  Length  Match?
1    ATTAAAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGA...      70       0
2    CGAACTTTAAAATCTGTGTGGCTGTCACTCGGCTGCATGCTTAGTG...      70       0
3    TAATTACTGTCGTTGACAGGACACGAGTAACTCGTCTATCTTCTGC...      70       0
4    TTGCAGCCGATCATCAGCACATCTAGGTTTCGTCCGGGTGTGACCG...      70       0
5    CCTGGTTTCAACGAGAAAACACACGTCCAACTCAGTTTGCCTGTTT...      70       0
..                                                 ...     ...     ...
423  CAGACCACACAAGGCAGATGGGCTATATAAACGTTTTCGCTTTTCC...      70       0
424  GTGCAGAATGAATTCTCGTAACTACATAGCACAAGTAGATGTAGTT...      70       0
425  TTAATCAGTGTGTAACATTAGGGAGGACTTGAAAGAGCCACCACAT...      70       0
426  GATCGAGTGTACAGTGAACAATGCTAGGGAGAGCTGCCTATATGGA...      70       0
427  TTTAGTAGTGCTATCCCCATGTGATTTTAATAGCTTCTTAGGAGAA...      70       0

[427 rows x 3 columns]

In [8]:
#find number of different letters 
def diff_letters(a,b):
    return sum ( a[i] != b[i] for i in range(len(a)) )

differences = []
for name, row in pn.iterrows():
    temp_diff = []
    for j in range(len(pn)):
        temp_diff.append(diff_letters(row[0], pn.iloc[j]['Genome Sequence']))
    differences.append(temp_diff)

/tmp/ipykernel_5111/20289338.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  temp_diff.append(diff_letters(row[0], pn.iloc[j]['Genome Sequence']))

In [14]:
len(differences[0])

427

In [12]:

##  two genome sequences that are most similar.  format (row1, row2)

min_val = 1000
similar = 0
for i in range(len(differences)):
    for j in range(len(differences[0])):
        if differences[i][j] < min_val and differences[i][j] != 0:
            min_val = differences[i][j]
            similar = (i,j)

In [13]:
similar

(87, 117)